a.label.label-primary.light:hover, 
a.label.label-primary.light:active, 
a.label.label-primary.light:focus {
    background-color: #ee3939 !important;
}
/* portfolio */

#portfolio ul.fullcenter .item-box {
    padding: 2px !important;
}
#portfolio ul.isotope-filter li.active a {
    background-color: #F15757 !important;
}
#portfolio ul.isotope-filter li.active a:hover {
    background-color: #ee3939 !important;
}
#portfolio  .item-box-desc {
    padding: 15px 10px 25px 10px;
}
#portfolio .item-box-desc h4 {   
    font-size: 1.5em;
    min-height: 80px;   
    margin-top: 10px;
}
ul.menu-top.nav-main > li {
    display: inline !important;	
    list-style: none !important;	
}
img.user-image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 4px;
    margin-top: -4px;
}
#profile .btn i.fa {
    padding-right: 0px !important;	
}

.modal-dialog {   
    margin: 80px auto !important;
}
#welcome h1{
    line-height: 60px !important;
}

/* post-masonry */

.blog-post-masonry {
    margin-bottom: 20px;    
}
.blog-post-masonry h2{   
    line-height: 30px;
    padding-bottom: 10px;  
}
.blog-post-masonry h2 a {   
    color: #2E363F !important;
}
.blog-post-masonry h2 :hover {   
    color: #F15757 !important;
}
.masonry-item .item-box figure {   
    overflow: visible;  
}

/* layaut.css */

body {	
    background-color:#ffffff !important;	
}
#wrapper {	
    background-color:rgba(255,255,255,0.9) !important; 
}

.special-row .divider i.fa,
.special-row {
    background-color:#f5f5f5 !important;
}

/* essentials.css */

p,
ol li,
ul li {
    color: #7e8998 !important;	
}
.parallax p {
    color: #efefef !important;
}
.divider .fa {
    background: #ffffff !important;	
}
.testimonial.white p,
.testimonial.white cite {
    background-color: #f5f5f5 !important;	       
}
article p {
    line-height: 22px;
    margin: 0px;
}

/* blog.css */

#blog p {
    padding: 4px 0;
}
#comments {
    margin-top: 0px !important;	
}
.comment .comment-text { 
    color: #7e8998 !important;   
}

/* contact.php */

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {

    background: #F15757 !important;
}
.bootstrap-switch.bootstrap-switch-focused {

    border-color: #a94442 !important;  
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(184, 59, 61, 0.6) !important;
}

/* Комментарии на главной*/

.recent-comment{
    border-bottom: 1px solid #ddd;   
    margin-bottom: 5px;
    word-wrap: break-word;

}
.recent-comment .content{
    position: relative;
    left: 60px;
    top: -3px;   
    font-size: 13px !important;
}
.recent-comment .avatar{
    position: absolute;
    border: 1px solid #ddd; 
    border-radius: 3px;
} 
.recent-comment .text{
    padding-top: 5px;
    line-height: normal;
    width: 180px;
}       
.recent-comment .btn-comment{
    padding: 3px 3px;
    font-size: 0.8em;
}
/* tabs */

div.tabs ul.nav-tabs li.active a {	
    background: #f5f5f5 !important;
}

div.tabs ul.nav-tabs a {	
    background: #fff !important;	
}
div.tabs div.tab-content {	
    background-color: #f5f5f5 !important;
}
/* carousel */
.event .owl-carousel .owl-item {   
    padding: 10px !important;
}