.comment .comment-text { 
    color: #7e8998 !important;   
}
a.label.label-primary.light:hover, 
a.label.label-primary.light:active, 
a.label.label-primary.light:focus {
    background-color: #ee3939 !important;
}

#portfolio ul.isotope-filter li.active a {
    background-color: #F15757 !important;
}
#portfolio ul.isotope-filter li.active a:hover {
    background-color: #ee3939 !important;
}
ul.menu-top.nav-main > li {
		display: inline !important;	
		list-style: none !important;	
}
img.user-image {
     width: 25px;
     height: 25px;
     border-radius: 50%;
     margin-right: 4px;
     margin-top: -4px;
 }
 #profile .btn i.fa {
     padding-right: 0px !important;	
}
       